.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg {
  width: 25rem;
  padding: 0.6rem 0.3rem 3rem 0.3rem;
  background-color: rgb(255, 255, 255);
}

.img {
  width: 25rem;
  height: 16rem;
}

.back {
  position: absolute;
  top: 2.5rem;
  left: 50rem;
  color: #ff6e2e;
  font-size: 1.3rem;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}
