.title {
  text-align: center;
}

.name {
  display: inline;
  margin: 0 4rem 0 0;
  font-size: 2rem;
}

.dangol {
  margin: 0 1rem 0 0;
  font-size: 1.5rem;
  display: inline;
  cursor: pointer;
}

.telephone {
  margin: 0 0 0 5rem;
}
