.name {
  width: 223px;
  height: 34.4px;
  flex-grow: 0;
  margin: 129.5px 60px 0 3px;
  font-size: 32px;
  text-align: left;
  color: #000;
}

.dangol {
  margin: 0 20px 0 0;
  font-size: 25px;
}

.bone {
  flex-grow: 0;
  cursor: pointer;
  display: inline;
  margin: 0 30px 0 0;
}

.time,
.address {
  flex-grow: 0;
  margin: 0 0 13.8px 3px;
  font-size: 12px;
  text-align: left;
  color: #000;
}

.telephone {
  width: 122px;
  height: 21px;
  flex-grow: 0;
  margin: 80px 13px 13.7px 80px;
  font-size: 12px;
  text-align: right;
  color: #000;
}
