.button {
  background-color: #ff6e2e;
  color: white;
  text-align: center;
  font-weight: bold;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  border: 0ch;
  box-shadow: 0 2px 4px rgb(182, 182, 182);
}
